<nav class="pushy pushy-left">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/life-on-the-farm">Life on the Farm</a></li>
    <li><a href="#">Register</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#"><i class="fa fa-search"></i></a></li>
  </ul>
</nav>

<div class="site-overlay"></div>

<div id="container">
  <div class="menu-btn">
    <a><i class="fa fa-bars"></i></a>
  </div>
  <div class="top-bar-title">
    <h1>opensource.farm</h1>
  </div>
</div>