<section id="all-projects" class="odd one-hundred">
  <div class="row">
    <div class="medium-4 columns project-preview">
      <p>Here is also a thing</p>
    </div>
    <div class="medium-4 columns project-preview">
      <p>Here is also a thing</p>
    </div>
    <div class="medium-4 columns project-preview">
      <p>Here is also a thing</p>
    </div>
  </div>
</section>