<section class="one-hundred page-header">
  <h2>Projects</h2>
</section>

<section id="all-projects" class="one-hundred">
  <div class="row" data-equalizer>
    <div id="overlay-effect" class="effects clearfix">
      <div class="medium-4 columns" ng-repeat="project in projects.all | reverse" data-equalizer-watch> 
        <a ui-sref="single({id: project._id})">
          <div class="img">
            <img ng-src="{{ project.photos }}">
            <div class="overlay">
              xx
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section> 

