<div ng-hide="users.checkLoggedIn()">
  <section class="page-header one-hundred">
    <div class="row">
      <div class="medium-12 columns">
        <h2>Register</h2>    
      </div>
    </div>
  </section> 

  <section class="one-hundred odd">
    <div class="row">
      <div class="medium-6 columns">
        <form id="login" name="users.registerForm" ng-submit="users.register()" novalidate>
          <div class="alert alert-danger" role="alert" ng-show="(!!users.error && users.registerForm.$submitted)">{{ users.error }}</div>

          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" ng-model="users.user.username">
          </div>

          <div class="form-group">
            <label for="firstname">First name</label>
            <input type="text" class="form-control" id="firstname" placeholder="E.g. Niall" ng-model="users.user.firstname">
          </div>

          <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" placeholder="E.g. Wallace" ng-model="users.user.surname">
          </div>

          <div class="form-group">
            <label for="occupation">Occupation</label>
            <input type="text" class="form-control" id="occupation" placeholder="E.g. Developer" ng-model="users.user.occupation">
          </div>

          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" placeholder="E.g. Battersea/Newcastle" ng-model="users.user.location">
          </div>

          <div class="form-group">
            <label for="aboutme">About Me</label>
            <input type="text" class="form-control" id="aboutme" placeholder="Tell us about yourself" ng-model="users.user.aboutme">
          </div>

          <div class="form-group">
            <label for="github">Github</label>
            <input type="text" class="form-control" id="github" placeholder="Giz ya link" ng-model="users.user.github">
          </div>

          <div class="form-group">
            <label for="twitter">Twitter</label>
            <input type="text" class="form-control" id="twitter" placeholder="Twitter handle" ng-model="users.user.twitter">
          </div>

          <div class="form-group">
            <label for="facebook">Facebook</label>
            <input type="text" class="form-control" id="facebook" placeholder="Why not?" ng-model="users.user.facebook">
          </div>

          <div class="form-group">
            <label for="image">Image URL</label>
            <input type="text" class="form-control" id="image" placeholder="Image URL" ng-model="users.user.image">
          </div>

          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email" name="email" ng-model="users.user.email" required>
          </div>

          <div class="alert alert-danger" role="alert" ng-messages="users.registerForm['email'].$error" ng-show="(users.registerForm.$submitted && users.registerForm['email'].$invalid)">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <span ng-message="required">Email is required.</span>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="users.user.password" required>
          </div>

          <div class="alert alert-danger" role="alert" ng-messages="users.registerForm['password'].$error" ng-show="(users.registerForm.$submitted && users.registerForm['password'].$invalid)">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <span ng-message="required">Password is required.</span>
          </div>

          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </section>
</div>
