<section class="one-hundred odd page-header">
    <div class="row">
      <div class="medium-12 columns">
        <h2 class="page-header">" {{ projects.project.title }} "</h2>
        <h4 class="page-header">{{ projects.project.shortdescription }}</h4>
      </div>
    </div>
</section>  

<section class="one-hundred even single-project">
  <div class="row">
    <div class="medium-4 columns">
      <img id="project-main-photo" src="/images/tracrr.jpg" alt="Main project" title="Main project photo">      
      
      <div id="project-photo-thumbnails" class="row">
        <div class="small-4 columns">
          <img src="/images/tracrr.jpg" alt="Main project" title="Main project photo">
        </div>
        <div class="small-4 columns">
          <img src="/images/tracrr.jpg" alt="Main project" title="Main project photo">
        </div>
        <div class="small-4 columns">
          <img src="/images/tracrr.jpg" alt="Main project" title="Main project photo">
        </div>
      </div>

      <a href="" class="button one-hundred">View gallery</a>
      
      <hr class="hide-for-small">
      
      <section id="project-meta">  
        <h6 class="align-left">Meet the Team</h6>
        <div class="team-members">
          <a href="#">Team member 01</a>
          <a href="#">Team member 02</a>
          <a href="#">Team member 03</a>
        </div>
        <hr class="hide-for-small">

        <a href="" class="github-link"><i class="fa fa-github"></i> [github]</a>
        
        <hr class="hide-for-small">
        
        <p>This project was created on 22nd Feb 2016</p>  
      </section>

      <hr class="show-for-small">
    </div>

    <div id="project-info" class="medium-8 columns">

      <section id="project-description">  
        <h4>Description</h4>
        <p>Goat, raccoons rhubarb outhouse a, apples berries corn. Grapes at yams mushrooms organic berries gobble. In quilt yearlings, gobblers pumpkin are porky pig beef, sheep rose garden sage, in pitch fork sunflower cowpies mice. Utters are weathervane foal est. Killer scourge scared, drowning helpless sheep at, farmers market an.</p>
      </section>
      <hr>
      <section id="project-details">
        <h4 >Details</h4>
        <p>Squeal garden woof. Shovels at rakes plows. Apples ducks straw, quail a ostriches donkey, hay hook cucumbers. Straw augers beef kettle our crickets. Coo with rabbits ect. Utters are weathervane foal est. Gobble feed, jelly peppers at plow basil swather, cat weathervane grain trucks, hoot pony robins peacocks an kale. Kidney beans ostrich trucks. Mouse soybeans swee.</p>

        <p>Corn hogs llamas or oink oink wind. Petting zoo at carrots alligators quack. Combine Harvester swather, baler as haybine parsley, melon in hay rake. Ewes mushrooms zucchini in forage Harvester at sheep with tractor. Post pounder calf, hay or duck is, tool shed horse.</p>

        <p>John Deere bees, parsley sweet corn at, porky pig shovels. Ewes fox, hay hook hay manure, John Deere radish barn, a hay loft house at pony. Coo with rabbits ect. Sage mower goat, raccoons rhubarb outhouse a, apples berries corn. Goose hammers cattle rats in crows. bull bowels cat chicken cow, calf donkey duck. Oranges cucumbers rhubarb gourds watermelon. Sage mowe.</p>
      </section>
      <hr>
      <section id="project-components">
        <h4>Components</h4>
        <ul>
          <li><p>Component name</p><span>Component description</span></li>
          <li><p>Component name</p><span>Component description</span></li>
        </ul>
      </section>
      <hr>
      <section id="project-logs">
        <h4>Logs</h4>
        <h6>Log date / time</h6>
        <p>Log information</p>
      </section>
      <hr>
      <section id="project-share">
        <h4>Share this project</h4>
        <a href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="http://facebook.com/" target="_blank"><i class="fa fa-facebook-square"></i></a>
      </section>
      <hr>
      <section id="project-discussion">
        <h4>Discussion</h4>
        <div class="row comment">
          <div class="small-2 columns">
            <img src="/images/tracrr.jpg" alt="profilephoto" title="Profile Photo">
          </div>
          <div class="small-10 columns">
            <h6><a href="">Username</a></h6> <h6 class="post-time">22nd Feb 2016 10:07AM</h6>
            <p>This is a lovely comment about this project</p>
          </div>
        </div>
        <div class="row comment">
          <div class="small-2 columns">
            <img src="/images/tracrr.jpg" alt="profilephoto" title="Profile Photo">
          </div>
          <div class="small-10 columns">
            <h6><a href="">Username</a></h6> <h6 class="post-time">22nd Feb 2016 10:07AM</h6>
            <p>This is yet another lovely comment about this project</p>
          </div>
        </div>
      </section>


    </div>
  </div>

</section>