<section class="page-header">
  <div class="row">
    <div class="medium-12 columns">
      <h2>Weather</h2>
    </div>
  </div>
</section>

<section> 
  <div class="row">
    <div class="medium-6 medium-centered columns">
    
    <table>
      <tbody>
        <tr>
          <td>Weather type</td>
          <td>___</td>
        </tr>
        <tr>
          <td>Wind Direction</td>
          <td>___ (compass)</td>
        </tr>
        <tr>
          <td>Wind Speed</td>
          <td>___ mph</td>
        </tr>
        <tr>
          <td>Wind Gust</td>
          <td>___ mph</td>
        </tr>
        <tr>
          <td>Temperature</td>
          <td>___ *C</td>
        </tr>
        <tr>
          <td>Feels like:</td>
          <td>___ *C</td>
        </tr>
        <tr>
          <td>Precipitation</td>
          <td>___ %</td>
        </tr>
        <tr>
          <td>Visibility</td>
          <td>___</td>
        </tr>
        <tr>
          <td>Humidity</td>
          <td>___ %</td>
        </tr>
      </tbody>
    </table>

    </div>
  </div>
</section>