<section class="page-header" ng-init="WeatherController.getWeather()">
  <div class="row">
    <div class="medium-12 columns">
      <h2>Weather</h2>
    </div>
  </div>
</section>

<section ng-controller="WeatherController as weather"> 
  <div class="row weather-updated-at">
    <div class="medium-12 columns">
      <h6>Last updated on {{ weather.updatedTime }} at {{ weather.weather.$ / 60 }}:00</h6>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">
    <div class="table-header">
      <h6>Today:</h6>
    </div>
    <table>
      <tbody>
        <tr>
          <td>Weather type</td>
          <td>{{ weather.weather.W }}</td>
        </tr>
        <tr>
          <td>Wind Direction</td>
          <td>{{ weather.weather.D }}</td>
        </tr>
        <tr>
          <td>Wind Speed</td>
          <td>{{ weather.weather.S }} mph</td>
        </tr>
        <tr>
          <td>Wind Gust</td>
          <td>{{ weather.weather.G }} mph</td>
        </tr>
        <tr>
          <td>Temperature</td>
          <td>{{ weather.weather.T }}°C</td>
        </tr>
        <tr>
          <td>Feels like:</td>
          <td>{{ weather.weather.F }}°C</td>
        </tr>
        <tr>
          <td>Precipitation</td>
          <td>{{ weather.weather.Pp }}%</td>
        </tr>
        <tr>
          <td>Visibility</td>
          <td>{{ weather.weather.V }}</td>
        </tr>
        <tr>
          <td>Humidity</td>
          <td>{{ weather.weather.H }}%</td>
        </tr>
      </tbody>
    </table>

    </div>
    <div class="medium-6 columns">
      <div class="table-header">
        <h6>Tomorrow:</h6>
      </div>
      <table>
        <tbody>
          <tr>
            <td>Weather type</td>
            <td>{{ weather.tomorrow.W }}</td>
          </tr>
          <tr>
            <td>Wind Direction</td>
            <td>{{ weather.tomorrow.D }}</td>
          </tr>
          <tr>
            <td>Wind Speed</td>
            <td>{{ weather.tomorrow.S }} mph</td>
          </tr>
          <tr>
            <td>Wind Gust</td>
            <td>{{ weather.tomorrow.G }} mph</td>
          </tr>
          <tr>
            <td>Temperature</td>
            <td>{{ weather.tomorrow.T }}°C</td>
          </tr>
          <tr>
            <td>Feels like:</td>
            <td>{{ weather.tomorrow.F }}°C</td>
          </tr>
          <tr>
            <td>Precipitation</td>
            <td>{{ weather.tomorrow.Pp }}%</td>
          </tr>
          <tr>
            <td>Visibility</td>
            <td>{{ weather.tomorrow.V }}</td>
          </tr>
          <tr>
            <td>Humidity</td>
            <td>{{ weather.tomorrow.H }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>