body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.one-hundred {
  width: 100%;
  background: #efefef;
}


section.one-hundred {
  padding: 3em 0;
}
