<section class="page-header">
  <div class="row">
    <div class="small-12 columns">
      <h2>Life on the Farm</h2>
    </div>
  </div>
</section>

<section class="odd one-hundred life-on-the-farm">
  <div class="row">
    <div class="medium-6 columns">    
      <img src="/images/brambles.jpg" alt="fieldspace" title="The Field">
    </div>
    <div class="medium-6 columns">    
      <h3>The field</h3>
      <p>Goat goose hen horse. Grapes at yams mushrooms organic berries gobble. Cat at pineapples pigeons. Turkey daisys eggs squeal, horses moonshine apples raising Moo tractor plow. Quack hammers eggplant is utters nails garden. Onion organic oranges and purr duck.</p>
    </div>
  </div>
</section>

<section class="even one-hundred life-on-the-farm">
  <div class="row">
    <div class="medium-6 columns">    
      <p>Smptown fashion axe. Neutra street art taxidermy sustainable marfa tousled. Shabby chic freegan church-key forage banh mi tofu. Whatever flannel shabby chic before they sold out.</p>
    </div>
    <div class="medium-6 columns">    
      <h3>The workspace</h3>
    </div>
  </div>
</section>

<section class="odd one-hundred life-on-the-farm">
  <div class="row">
    <div class="medium-6 columns">    
      <img src="/images/fire.jpg" alt="bonfire" title="Bonfire">
    </div>
    <div class="medium-6 columns">    
     <h3>Good times, good times</h3>
     <p>At sheep with tractor. Mooo cat daisys, grunt in turkey coo, windmill at bull. Utters are weathervane foal est. Outhouse at nails mower. Apples ducks straw, quail a ostriches donkey, hay hook cucumbers. Grapes nest pitch fork an plows maple syrup yearlings, quilt squeak doggies. Goat goose hen horse. Rooster celery pineapples fertilizer, a melo.</p>
     <p>Also, burn all of the things.</p>
    </div>
  </div>
</section>