<section id="main-image" class="one-hundred odd">
  <div class="row vertical-align">
    <div class="medium-12 columns">
      <h1>opensource.farm</h1>
      <h4 class="main-image-subtitle">Something about the farm, lalala</h4>
    </div>
  </div>
</section>

<section id="join-us-at-the-farm" class="one-hundred even">
  <div class="row">
    <div class="small-12 columns heading">
      <h2>Join us at the farm</h2> 
      <a><h5>Discover</h5></a> |    
      <a><h5>Create</h5></a> |
      <a><h5>Collaborate</h5></a>   
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns"> 
      <img src="/images/farmbot.jpg" alt="Farm Bot" title="CNC Farm Bot">
    </div>
    <div class="medium-6 columns">
      <h3>Something</h3>
      <p>Garden windmill chicks, hen at corn in, lettus a peppers. . Rooster celery pineapples fertilizer, a melon chirp pets in. Peacocks baa ostriches owls. Petting zoo at carrots alligators quack. Prairie dogs raccoons robins rats. House hen chinchillas in barn livestock cat hogs chicks trucks. Hoot squeal moose quack, crows doggies frogs crickets chirp. Cat at pineapple.</p>
    </div>
  </div>
</section>

<section id="featured-projects" class="one-hundred odd">
  <div class="row">
    <div class="small-12 columns heading">
      <h2>Recent Projects</h2>
    </div>
  </div>
  <div class="row" ng-controller="ProjectsController as projects">

    <div class="medium-6 columns recent-projects" ng-repeat="project in projects.all | reverse | limitTo: 2">
      <a ui-sref="single({id: project._id})">
        <img ng-src="{{ project.photos }}">
        {{ projects.photos }}
      </a>
    </div>
  </div>
</section>















