<section class="page-header">
  <div class="row">
    <div class="small-12 columns">
      <h2>Life on the Farm</h2>
    </div>
  </div>
</section>

<section class="odd one-hundred life-on-the-farm">
  <div class="row">
    <div class="medium-6 columns">    
      <img src="/images/brambles.jpg" alt="fieldspace" title="The Field">
    </div>
    <div class="medium-6 columns">    
      <h3>The field</h3>
      <p>The field is currently covered in lots of brambles, so we need some help clearing it. It's right by the water so there can be a strong wind at times (bear this in mind if you need loose soil/drones for your project).</p>

      <p>If you have a strimmer, hedgetrimmers, old carpets or chainsaw it'd be very much appreciated.</p>
    </div>
  </div>
</section>

<section id="the-workspace" class="even one-hundred life-on-the-farm">
  <div class="row">
    <div class="medium-6 columns">    
      <p>Imagine an old concrete shed with no central heating, barely enough electricty and no internet. Look like the place of your nightmares? Welcome to the workspace!</p>
      <p>Obviously it needs a bit of TLC - help us make it a place you want to work in.</p>
    </div>
    <div class="medium-6 columns">    
      <h3>The workspace</h3>
    </div>
  </div>
</section>

<section class="odd one-hundred life-on-the-farm">
  <div class="row">
    <div class="medium-6 columns">    
      <img src="/images/fire.jpg" alt="bonfire" title="Bonfire">
    </div>
    <div class="medium-6 columns">    
     <h3>Good times, good times</h3>
     <p>We are proud of the good times and entertainment we provide here at opensource.farm. We have regular bonfires, diggathons, fireworks, cricket, garden golf, sailing, swimming, board gaming, raving, rednecking, smashing and building and breaking. Got things to burn? Bring them - and some marshmallows - with you.</p>
    </div>
  </div>
</section>


<section class="even one-hundred life-on-the-farm">
  <div class="row">
    <h2>FAQs</h2>
  </div>
  <div class="row">
    <div class="medium-6 columns">    
      <h5>Where is the farm?</h5>
      <p>The farm is in deepest, darkest Essex near the fine village of Steeple. The better of the two pubs, the Star, is about a five minute drive or an hour's walk away through the fields or the road. The farm is right by the water so there is plenty of sea air. It does get very windy - something to bear in mind.</p>

      <h5>What facilities are there?</h5>
      <p>We have basic facilities. There is wifi but it's slow <strong>AF</strong>. Apparently we're getting real broadband in 2018. There is a place for you to sleep, eat, drink, wash both yourself and your clothes. We have a small 'tractor' and a rickety old trailer with plenty of holes. We also have a paddling pool for when it gets hot ;)</p>

    </div>
    <div class="medium-6 columns">  
      <h5>How long can I stay?</h5>
      <p>As long as you like, as long as a opensource.farm member of staff is down there to look after you.</p>
  
      <h5>I think my idea is silly. What do I do?</h5>
      <p>Who cares? Ask the community for input. This is a space for you to experiment with, so get on it.</p>

      <h5>Something's come up and I can't make it. What can I do?</h5>
      <p>:sad-face: Not to worry, just shoot us an <a href="mailto:info@opensource.farm?Subject=Help%20Me!">email</a> to let us know. If you've booked a spot in the field, you can rebook or we will have to let you plot go. Sigh!</p>
    </div>
  </div>
</section>

<section class="odd one-hundred life-on-the-farm">
  <div class="row">
    <h2>Farm Rules</h2>
  </div>
  <div class="row">
    <div class="medium-12 columns">    
      <ul>
        <li>Don't be a dick.</li>
        <li>No smoking in the house.</li>
        <li>No swimming in the dark. If you want to swim, let us know. The current is strong.</li>
        <li>Burn stuff in the designated burn spots. Bear in mind the wind direction so you don't burn everything down.</li>
      </ul>
    </div>
  </div>
</section>