  <section class="page-header">
  <div class="row">
    <div class="medium-12 columns">
      <h2>Users</h2>
    </div>
  </div>
</section>

<section id="all-users" class="one-hundred">
  <div class="row">
    <div class="medium-4 columns" ng-repeat="user in users.all"> 
      <a ui-sref="profile({id: user._id})">
        <div class="user" style="background-image: url('{{ user.local.image }}')">
        <!-- <img class="user-image" ng-src="{{ user.local.image }}"> -->
      </div>
      <p class="vertical-align">{{ user.local.firstname }} {{ user.local.surname }}</p>
      </a>
    </div>
  </div>
</section>