<section id="footer">
  <div class="row">
    <div class="medium-6 columns">
      <p><i class="fa fa-copyright"></i> 2016 opensource.farm</p>
      <p>info@opensource.farm</p>
    </div>
    <div class="medium-6 columns social-links">
      <a href="http://twitter.com/opensourcefarm" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="http://facebook.com/opensourcefarm" target="_blank"><i class="fa fa-facebook-square"></i></a>
    </div>
  </div>
</section>